:root {
  --blue-500: #4a86e8;
  --blue-600: #1155cc;
  --blue-700: #1c4587;
  --white: #ffffff;
  --gray-100: #e9effb;
  --gray-200: #888888;
  --gray-300: #333333;
  --gray-400: #444444;
  --gray-500: #555555;
  --black-100: #1e1e1e;
  --black-200: #2a2a2a;
}
